@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Cab Management System</h1>
    <p class="lead">Using this online cab management system, you can easily manage everything related to your cab allotments, drivers allotments, employee management and much more.</p>
    <hr class="my-4">
    <p>Let's get started!! Click the below button to login with your registered login credentials.</p>
    <p class="lead">
        <a class="btn btn-info btn-lg" asp-controller="Login" asp-action="Login" role="button">Log in to the system</a>
    </p>
</div>
