<div class="container my-3" id="about">
    <h1>About Us</h1>
    <hr>
    <h3>Deliver high-quality software quickly and painlessly.</h3>
    <p>Bhavna Corp - "Think Locally - Work Globally" is driven by a passion to deliver the most innovative and cost-effective solutions to its clients. We provide a combination of engineering consultancy, offshore engineering services, and turnkey solutions. Working collaboratively with our clients' engineering management teams.</p>
    <p>
        Bhavna Corp. has established a strong track record of reducing costs, improving quality, accelerating time to market, enhancing productivity, and cost effectively scaling engineering resources. At Bhavna Corp., we believe that we are a collection of our individual talents and by working together; we can build a global force to achieve common and individual goals.
    </p>
</div>