<style>
    .navbar-brand{
        color: #033196;
        font-weight: bolder;
    }
    .navbar-brand span{
        color: #049632;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
    <a class="navbar-brand" href="#">Bhavna <span>Corp</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" href="#" [ngStyle]="addNavlinksStyles()">Home</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/about']" href="#about" class="nav-link" [ngStyle]="addNavlinksStyles()">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contact']" href="#contact" [ngStyle]="addNavlinksStyles()">Contact</a>
          </li>
        </ul>
    </div>
  </div>
</nav>

<div>
  <router-outlet></router-outlet>
</div>
