<style>
    .footer{
        background-color: #f8f8f8;
        padding: 30px;
    }
    .footer h2{
        font-weight: 900;
        font-style: italic;
    }
</style>
<div class="footer">
    <div class="container">
        <h2>Zomato</h2>
        <hr class="my-4">
        <p>By continuing past this page, you agree to our Terms of Service, Cookie Policy, Privacy Policy and Content Policies. All trademarks are properties of their respective owners. 2008-2022 © Zomato™ Ltd. All rights reserved.</p>
    </div>
</div>
