<style>
    .btn-div{
        display: flex;
        justify-content: center;
    }
    .btn{
        background-color: #eee;
        width: 160px;
        font-size: 22px;
        padding: 5px 18px;
    }
    img{
        width: 100%;
        height: 100%;
    }
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24%;
}

</style>

<div class="container my-3">
    <h2>Contact Us</h2>
    <hr>
    <div class="btn-div">
        <button class="btn mx-1">USA</button>
        <button class="btn mx-1">Noida</button>
        <button class="btn mx-1">Hyderabad</button>
    </div>
    <br>
    <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-6">
            <img src="../../assets/usa.jpg" alt="...">
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">Bhavna Corp.</h5>
              <p class="card-text"><small class="text-muted"></small>Headquarters</p>
              <p class="card-text">3051, Copper Peak Drive, 
                Dublin, CA - 94568.</p>
              
            </div>
          </div>
        </div>
      </div>
    
</div>
