@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="jumbotron">
    <h1 class="display-4"> <span>Succulent</span> Nursery</h1>
    <p class="lead">Buy <span>Plants</span>. Spread <span>Love</span>. Spread <span>Greenery</span>.</p>
    <hr class="my-4">
    <p>Send a succulent to your loved ones and spread positive vibes everywhere. </p>
    <p>Shop right now to avail hundreds of benefits, from free shipping to upto 75% discounts.</p>
    <a class="btn btn-success btn-lg" asp-controller="Shop" asp-action="Products" role="button">Show Now</a>
</div>