@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container plants-div">
    <div class="heading">
        Our Plants zone
    </div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img src="https://webstockreview.net/images/cactus-flower-png-7.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Echeveria</h5>
                        <p class="card-text">Rs. <span>4999</span> 2999 (45% OFF)</p>
                        <a href="#" class="btn btn-outline-success buy">Buy Now</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="https://th.bing.com/th/id/OIP.Zg4kF9l4LPBDfQLI4H0IkgHaHa?w=196&h=196&c=7&r=0&o=5&pid=1.7" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Echeveria</h5>
                        <p class="card-text">Rs. <span>5999</span> 3999 (40% OFF)</p>
                        <a href="#" class="btn btn-outline-success buy">Buy Now</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="https://th.bing.com/th/id/OIP.5db1qqZx-BjaSrS8SRDj3QHaHa?w=196&h=196&c=7&r=0&o=5&pid=1.7" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Echeveria</h5>
                        <p class="card-text">Rs. <span>7000</span> 3500 (50% OFF)</p>
                        <a href="#" class="btn btn-outline-success buy">Buy Now</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="https://th.bing.com/th/id/OIP.lo7HsKlHijlOLdgqh4yN1gHaHa?w=196&h=196&c=7&r=0&o=5&pid=1.7" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Echeveria</h5>
                        <p class="card-text">Rs. <span>4000</span> 1500 (60% OFF)</p>
                        <a href="#" class="btn btn-outline-success buy">Buy Now</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="https://th.bing.com/th/id/OIP.mpc7Hcg9qMYQQZERcmMcLQHaG1?w=212&h=196&c=7&r=0&o=5&pid=1.7" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Echeveria</h5>
                        <p class="card-text">Rs. <span>4999</span> 2999 (50% OFF)</p>
                        <a href="#" class="btn btn-outline-success buy">Buy Now</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="https://webstockreview.net/images/cactus-flower-png-7.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Echeveria</h5>
                        <p class="card-text">Rs. <span>3999</span> 1299 (53% OFF)</p>
                        <a href="#" class="btn btn-outline-success buy">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</div>