<style>
    img{
        width: 100%;
        height: 100%;
    }
    .card{
        box-shadow: 2px 5px 18px #b1b1b1;;
    }
</style>

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-12">
            <div class="card mb-3 mx-auto" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="../../assets/mission-1.jpg" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Mission</h5>
                      <p class="card-text">								We are dedicated to creating differentiators for our clients' businesses through innovative use of talent that help bring best products to market in less time and at reduced cost.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card mb-3 mx-auto" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="../../assets/Vision.jpg" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Vision</h5>
                      <p class="card-text">								To become THE trusted partner of our clients through a world-class team of developers, technologists, and QA personnel where people can define the company and are our most important asset.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card mb-3 mx-auto" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="../../assets/values.jpg" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Values</h5>
                      <p class="card-text">								These three pillars guide our behavior and attitude, ensuring that we focus on customer delight, team collaboration, growth and deliver innovative solutions with quality.</p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

