<style>
    .card-body{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .seemore{
        margin: auto;
    }
</style>
<div class="container my-5">
    <h2>{{title}}</h2>
    <!-- <div class="row my-4" *ngFor='let item of localities' >
        <div class="col-4">
            <div class="card my-2">
                <div class="card-body">
                    <div class="leftside">
                        <h5 class="card-title">{{item.Locality}}</h5>
                        <p class="card-text">{{item.Places}}</p>
                    </div>
                    <div>
                        <i class="bi bi-caret-right-fill"></i>
                    </div>
                </div>
              </div>
        </div>
    </div> -->
    <div class="row my-4">
        <div class="col-4">
            <div class="card my-2">
                <div class="card-body">
                    <div class="leftside">
                        <h5 class="card-title">Rajpur</h5>
                        <p class="card-text">96 places</p>
                    </div>
                    <div>
                        <i class="bi bi-caret-right-fill"></i>
                    </div>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card my-2">
                <div class="card-body">
                    <div class="leftside">
                        <h5 class="card-title">Jakhan</h5>
                        <p class="card-text">170 places</p>
                    </div>
                    <div>
                        <i class="bi bi-caret-right-fill"></i>
                    </div>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card my-2">
                <div class="card-body">
                    <div class="leftside">
                        <h5 class="card-title">Hathibarkala Salwala</h5>
                        <p class="card-text">108 places</p>
                    </div>
                    <div>
                        <i class="bi bi-caret-right-fill"></i>
                    </div>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card my-2">
                <div class="card-body">
                    <div class="leftside">
                        <h5 class="card-title">Chukkuwala</h5>
                        <p class="card-text">101 places</p>
                    </div>
                    <div>
                        <i class="bi bi-caret-right-fill"></i>
                    </div>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card my-2">
                <div class="card-body">
                    <div class="leftside">
                        <h5 class="card-title">Karanpur</h5>
                        <p class="card-text">191 places</p>
                    </div>
                    <div>
                        <i class="bi bi-caret-right-fill"></i>
                    </div>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card my-2">
                <div class="card-body">
                    <div class="leftside">
                        <h5 class="card-title">Ballupur</h5>
                        <p class="card-text">128 places</p>
                    </div>
                    <div>
                        <i class="bi bi-caret-right-fill"></i>
                    </div>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card my-2">
                <div class="card-body">
                    <div class="leftside">
                        <h5 class="card-title">Paltan Bazaar</h5>
                        <p class="card-text">131 places</p>
                    </div>
                    <div>
                        <i class="bi bi-caret-right-fill"></i>
                    </div>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card my-2">
                <div class="card-body">
                    <div class="leftside">
                        <h5 class="card-title">Balliwala</h5>
                        <p class="card-text">109 places</p>
                    </div>
                    <div>
                        <i class="bi bi-caret-right-fill"></i>
                    </div>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card my-2">
                <div class="card-body">
                    <div class="seemore">
                        <h5 class="card-title pb-4">see more</h5>
                    </div>
                </div>
              </div>
        </div>
    </div>
    
</div>
