@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container about-div">
    <div class="heading">
        About Us
    </div>
    <hr />
    <div class="row">
        <div class="col-6 nursery-info">
            <h3><i>"You believe in us, we believe in quality"</i></h3>
            <p>
                <span>Succelent Nursery</span>, started in 2022, is a one stop online platform for catering all your needs for making this world greener and prettier than you found it.
                Plants bring natural beauty to our surroundings. With succelent nursery, we are providing a wide range of natural and artificial plants, gardening accessories and everything you need to make your space beautiful. These living beings can affect your mind, body, and home in ways that can improve your life. We have a curated list of products ranging from flowering plants, cactus, succulents, bonsai, ground covers, vegetable & flower seeds, ceramic pots, designer pots and all things involving in giving you an eye-catching and healthy atmosphere.
            </p>
            
        </div>
        <div class="col-6 img-div">
            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/buy-plants-online5-1521819842.jpg?crop=1xw:1xh;center,top&resize=768:*" alt="Image" />
        </div>
    </div>
</div>