@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container contact-div">
    <div class="heading">
        Contact Us
    </div>
    <hr />
    <div class="row">
        <div class="col-6">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Name</label>
                    <input type="text" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Feedback</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-success" id="feedbackBtn">Submit Feedback</button>
            </form>
        </div>
        <div class="col-6">
            <div class="address">
                <h5>Succelent Nursery-</h5>
                <p>
                    65, Gramsevak Prakshin Kendra, Pune Solapur Road, <br />Manjari
                    Farm, Haveli, Pune, Maharashtra, 412307
                </p>
            </div>
            <div class="phone">
                <h5>Contact us on- </h5>
                <p>1800-688-455, 1800-233-466</p>
            </div>
            <div class="timings">
                <h5>Timings- </h5>
                <p>(10:00 am - 5:00 pm)</p>
            </div>
        </div>
    </div>
</div>