<style>
  *{
    text-align: center;
  }
  img{
    width: 400px;
  }
  hr.external-hr{
    width: 200px;
  }
  h2.slogan{
    font-weight: bolder;
  }
</style>

<div>
  <div class="jumbotron">
    <img src="../assets/bhavna-logo-removebg-preview.png" alt="">
    <h1 class="display-4">Welcome to {{companyName}}!!</h1>
    <hr class="my-4">
    <p class="lead">Bhavna Corp. has leveraged its domain experience to redefine client offerings and help them gain an unbeatable competitive edge in a highly dynamic space. We have expanded our bouquet of service offerings to become a one-stop tech solution hub for international clients.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="#cards-section" role="button">Learn more</a>
  </div>
  <br>
  <hr class="external-hr">
  <h2 class="slogan" id="cards-section">“Think Locally - Work Globally”</h2>
  <hr class="external-hr">
  <br>
  <app-cards></app-cards>
</div>